.logo {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--color-grey-600);
  all: unset;
  border-radius: 50%;
}

.logoImg {
  display: block;
  width: 5rem;
  width: 4.6rem;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  outline: 2px solid var(--color-grey-100);
  border: 2px solid var(--color-indigo-700);
}
